@model efcoreApp.Data.Kurs

<h2>Kurs Güncelle</h2>
<hr>
<form asp-controller="Kurs" asp-action="Kurs" method="post">
    <input type="hidden" asp-for="KursId">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Başlık</label>
        <input asp-for="Baslik" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-dark">Kaydet</button>
</form>